.form {
  box-shadow: rgba(0, 0, 0, 0.527) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  margin: 80px 0px 0px 0px;
  box-sizing: border-box;
}

.form h2 {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-weight: normal;
  font-size: 30px;
  color: #fff;
}

.form .message {
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.form label {
  display: block;
  margin: 15px 0px 5px 0px;
  color: #fff;
  box-sizing: border-box;
}

.error {
  margin: 0px 0px 5px 0px;
  color: rgb(216, 148, 0);
  font-size: 15px;
}

.form input {
  outline: 1px solid rgba(255, 255, 255, 0);
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.form button {
  display: block;
  border: none;
  border-radius: 5px;
  outline: 1px solid rgb(114, 190, 15);
  margin: 30px 0px 0px 0px;
  width: 100%;
  background-color: rgb(114, 190, 15);
  color: #ffff;
  height: 35px;
  font-size: 16px;
}

.form button svg {
  font-size: 20px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
